body{
    margin: 0;
    padding: 0;
    background-color: #deab01;
}


#grid-banner-index{
    margin: 1%;
    background-color: #7F0909;

    border-radius: 10px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    grid-template-areas:
    "logo titulo link"
    ;
    padding: 1%;
}

#logo-banner-index img{
    grid-area: logo;
    width: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
}
#titulo-banner-index{
    grid-area: titulo;
    text-align: center;
}
#titulo-banner-index h1{
    font-family: 'Harry Potter', sans-serif;
    color: #ECE2A8FF;
}
#pagina-banner-index{
    grid-area: link;
    text-align: center;
    border-radius: 5px;
    background: transparent;
    transition: background .5s linear;
    display: flex;
    align-items: center;
    justify-content: center;
}
#pagina-banner-index a{
    text-decoration: none;
    color: #ECE2A8FF;
    font-size: 1.5em;
    font-family: 'Harry Potter', sans-serif;
}
#pagina-banner-index:hover{
    background: rgba(79, 68, 10, 0.93) !important;
}

#centro-pagina-principal{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas:
    "API ROL"
    ;

}

#cuadro-interior-api{
    border: 5px #660303FF solid;
    border-radius: 10px;
    padding: 1%;
    margin: 2%;
    background-color: #7F0909;
    text-align: center;
    transition: all  1s cubic-bezier(1, 1.2, 1, 1.2);
}
#cuadro-interior-api:hover{
    box-shadow: inset 0 0 100px rgba(127, 9, 9, 0.7), 0 0 80px rgb(236, 226, 168);
}

#titulo-api{
    border-bottom: 2px #c09501 solid;
    color: #ECE2A8FF;
    font-size: 200%;
    font-family: 'ARKHAM', sans-serif;


}
#descripcion-api{
    color: #ECE2A8FF;
    font-size: 175%;
    font-family: 'ARKHAM', sans-serif;


}
#cuadro-busqueda{
     margin: 2%;
}
#cuadro-api{
    border: 2px rgba(79, 68, 10, 0.93) solid;
    background-color: white;
}

#cuadro-interior-combate{
    border: 5px #660303FF solid;
    border-radius: 10px;
    padding: 1%;
    margin: 2%;
    background-color: #7F0909;
    text-align: center;
    transition: all  1s cubic-bezier(1, 1.2, 1, 1.2);
}
#cuadro-interior-combate:hover{
    box-shadow: inset 0 0 100px rgba(127, 9, 9, 0.7), 0 0 80px rgb(236, 226, 168);
}

#juego-rol-titulo{
    border-bottom: 2px #c09501 solid;
    color: #ECE2A8FF;
    font-size: 200%;
    font-family: 'ARKHAM', sans-serif;
}
#descripcion-juego{
    color: #ECE2A8FF;
    font-size: 175%;
    font-family: 'ARKHAM', sans-serif;
}
#boton-login button{
    font-size: 220%;
    padding: 7%;
    font-family: 'ARKHAM', sans-serif;
    background-color: rgba(79, 68, 10, 0.93);
    border: 2px #c09501 solid;
    border-radius: 10px;
    color: #ECE2A8FF;
    letter-spacing: 0.1em;
    margin-bottom: 3%;
}






















